<div class="containerr">
    <div id="aboutUs">
        <h1>How it works</h1>
        <div class="section">
            <img src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto:low,w_655/hellofresh_website/us/cms/howitworks/hiw-plan.jpg" />
            <div>
                <h3>1. Pick a plan</h3>
                <span>
                    Whether cooking for yourself or your household, we have a flexible plan to match your lifestyle. Need to cancel, change meals, or skip a week? Not a problem.
                </span>
                <a asp-action="GetAll" asp-controller="Home"><button class="viewBtn">Get Started</button></a>
            </div>
        </div>
        <div class="section">
            <div>
                <h3>2. Get your delivery</h3>
                <span>
                    Each week, you’ll open simple step-by-step recipes complete with nutritional information and fresh, pre-measured ingredients to get you whipping up delicious dinners in no time.
                </span>
                <a asp-action="GetAll" asp-controller="Home"><button class="viewBtn">Get Started</button></a>
            </div>
            <img src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto:low,w_655/hellofresh_website/us/cms/howitworks/hiw-delivery.jpg" />
        </div>
        <div class="section">
            <img src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto:low,w_655/hellofresh_website/us/cms/howitworks/hiw-family.jpg" />
            <div>
                <h3>3. Cook, eat, enjoy!</h3>
                <span>
                    The old “what do you want to eat?” conversation is about to be banished from your life. Welcome to a world where dinner is always planned, simple, and delicious.
                </span>
                <a asp-action="GetAll" asp-controller="Home"><button class="viewBtn">Get Started</button></a>
            </div>
        </div>
        <div class="section">
            <div>
                <h3>
                    4. Recycle your box and packaging
                </h3>
                <span>
                    Simply fold your box and place it with your curbside recyclables or take it to your local recycling center. Explore the recycling and packaging page for more details.
                </span>
                <a asp-controller="Home" asp-action="GetAll"><button class="viewBtn">Get Started</button></a>
            </div>
            <img src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto:low,w_655/hellofresh_website/landing-pages/sustainability/How-it-works-step-4-recycle.png" />
        </div>
    </div>
</div>

<script>

</script>