@model ResetPasswordClientCommandRequest

<form asp-action="ResetPassword" method="post" asp-controller="Account">
    <div class="login">
        <div class="box signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <h1>Reset your password</h1>

            <div class="input-container">
                <label for="email">Email</label>
                <input asp-for="Email" value="@ViewBag.Email" class="ic2" id="email" type="text" readonly />
            </div>

            <div class="input-container">
                <label for="password">Password</label>
                <input asp-for="Password" ap class="ic2" id="password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="viewBtn">Submit</button>
        </div>


    </div>
</form>