@model AddRestaurantCommandRequest


<div id="cards">

    <div class="containerr">
        <div class="card">


            <div class="contentBx">
                <p class="add">+</p>

            </div>

        </div>
    </div>
    @foreach (var rest in ViewBag.Restaurants)
    {
        <div class="containerr">
            <div class="card">
                <div class="imgBx">
                    <img src="@rest.SignedUrl">
                </div>

                <div class="contentBx">
                    <h2>@rest.Name</h2>
                    <a class="editBtn">Edit</a>
                    <p style="display:none">@rest.Id</p>
                    <a asp-route-controller="Restaurant" asp-route-action="Delete" asp-route-id="@rest.Id">Delete</a>
                </div>

            </div>
        </div>
    }
</div>
<div class='form popup' style="display:none">
    <form id="pop-form" asp-area="Admin" method="post" asp-controller="Restaurant" asp-action="Add" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class='title'>
            <span>Edit</span>
            <iconify-icon id='x-icon' icon='mdi:alpha-x-box'></iconify-icon>
        </div>
        <div class='subtitle'>Restaurant</div>
        <div class="inputRow">
            <div class='input-container ic1'>
                <input asp-for="Name" id='name' class='input' type='text' placeholder=' ' />
                <div class='cut'></div>
                <label for='name' class='placeholder'>Name</label>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class='input-container ic2'>
                <input asp-for="Email" id='email' class='input' type="text" placeholder=' '>
                <div class='cut'></div>
                <label for='email' class='placeholder'>Email</label>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="inputRow">
            <img id="popImg" />
            <div class='input-container ic2'>
                <input asp-for="Image" accept="image/png, image/gif, image/jpeg, image/avif" id='imgurl' class='input' type="file" placeholder=' '>
                <div class='cut'></div>
                <label for='imgurl' class='placeholder'>Image URL</label>
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <input id="lat" asp-for="Latitude" type="text" style="display:none" />
        <input id="lng" asp-for="Longitude" type="text" style="display:none" />
        <span asp-validation-for="Longitude" class="text-danger"></span>
        <span asp-validation-for="Latitude" class="text-danger"></span>
        <div id="map"></div>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <button class='submit'>submit</button>
    </form>
</div>

<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuTUu96M3hmSwxkTVQvLH2LPU4l_lJhX4&callback=initMap&v=weekly"
        defer></script>

<script>
    $('body').prepend("<div id='popup-bg'></div>")
    const popupBg = $("#popup-bg")
    const x = $('#x-icon')
    popup = $('.popup')

    popup.hide();
    popup.css({
        zIndex: 100000,
    })
    popupBg.css({
        backgroundColor: 'rgb(211, 211, 211,0)',
        width: '100%',
        height: '100%',
        zIndex: 10000
    })
    popupBg.hide()
    popupBg.prepend(popup)

    x.click(function () {
        popupBg.hide()
    })

    const add = $('.add')
    add.click(function () {

        $('#pop-form').attr('action', '/Admin/Restaurant/Add')
        popupBg.show()

        $('.text-danger').text("").val("")

        $('.title span').text('Add')
        $('#popImg').attr("src", "");
        $('#name').val("")
        $('#imgurl').val("")
        $('#address').val("")
        popup.show()
    })

    const edit = $('.editBtn')

    edit.click(function () {
        $('#pop-form').attr('action', '/Admin/Restaurant/Update')
        $('.title span').text('Edit')
        let id = this.nextElementSibling.innerHTML
        $('.text-danger').text("").val("")
        $.ajax({
            url: `https://localhost:7254/admin/Restaurant/update/${id}`,
            type: 'get',
            datatype: 'json',
            cache: false,
            data: { 'id': id },
            success: function (rest) {
                console.log(rest)
                console.log(rest.restaurantLocation.latitude, rest.restaurantLocation.longitude)
                addMarker({ lat: rest.restaurantLocation.latitude, lng: rest.restaurantLocation.longitude },map)
                $('textarea').text(rest.description).val(rest.description)
                $('#name').val(rest.name).text(rest.name)
                $('#popImg').attr("src", rest.signedUrl);
                $('#popImg').css("height", "100px");
                $('#email').text(rest.email).val(rest.email)
                $('#address').val(rest.adress).text(rest.adress)
            },
            error: function () {
                alert('error occured');
            }
        });

        popupBg.show()

        //mark = new google.maps.Marker({
        //    position: { lat: rest., lng: 49.867092 },
        //    map: map,
        //});

        $('#name').val("")
        $('#imgurl').val("")
        $('#calories').val("")
        $('#weight').val("")
        popup.show()
    })

    $('.submit').css({
        'marginTop': '5px'
    })

    let map;

    let mark;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 40.409264, lng: 49.867092 },
            zoom: 12,
        });

        map.addListener("click", (event) => {
            addMarker(event.latLng, map);
            $('#lat').val(event.latLng.toJSON()["lat"]).text(event.latLng.toJSON()["lat"])
            $('#lng').val(event.latLng.toJSON()["lng"]).text(event.latLng.toJSON()["lng"])
        });

    }

    function addMarker(location, map) {
        if (mark != null)
            mark.setMap(null)

        mark = new google.maps.Marker({
            position: location,
            map: map,
        });
    }

    window.initMap = initMap

</script>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

